.container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: auto;
}

.send-message {
    width: 80%;
}

.chat {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

/* Form */
.form {
    flex-grow: 1;
    vertical-align: bottom;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: solid 1px #bfbfbf;
}
.form .input, .form .send-button{
    height: 40px;
    box-sizing: border-box;
    padding: 0 20px;
    border-radius: 20px;
    border: none;
    background-color: #f3f3f3;
    box-shadow: inset 0 0 4px grey;
}
.form .input {
    width: 80%;

    border: dotted 1px #87c13f;
    box-shadow: 0 0 10px 5px #fafafa;
}
.form .input:focus, .form .send-button:focus {
    outline: none;
}
.form .send-button {
    width: 40px;
    padding: 0;
    background-color: black;
    color: #fff;
}