.aside {
    width: 400px;
    border-top: solid 1px rgba(191, 191, 191, 1);
    overflow: auto;
    transition: width 1s ;
    box-sizing: border-box;
}

.aside:hover {
    width: 550px;
    
}

.heading {
    font-size: 18px;
    padding: 20px;
    margin: 0;
}

.user-options {
    display: flex;
    justify-content: space-around;
    height: 30px;
    align-items: center;
}

.border {
    border-top: solid 1px rgba(191, 191, 191, 1);
}

