.container {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    flex-wrap: wrap;
}

.links {
    border: solid 2px #87c13f;
    min-height: 60px;
    min-width: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.links:hover {
    background-color: #87c13f;
}

.links p {
    margin: 0;
}
