@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.form-holder {
    box-sizing: content-box;
    margin: 3% auto;
    text-align: center;
    color: var(--special-second);
    background-color: var(--secondary-color);
    padding: 3%;
    width: 70%;
    max-width: 500px;
    opacity: 0.9;
    animation: fadeInDown;
    animation-duration: .5s;
    /* border: solid 2px black; */
    border-radius: 20px;
    box-shadow: 0 0 50px 0 rgba(191,191,191,1);
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-around; */
    min-height: 500px;
    
}

.form-holder h1 {
    text-align: center;
    font-weight: 300;
}