@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.form-holder {
    margin: auto;
    text-align: center;
    color: var(--special-second);
    background-color: var(--secondary-color);
    padding: 2%;
    width: 350px;
    opacity: 0.9;
    animation: fadeInDown;
    animation-duration: .5s;
    border-radius: 20px;
    box-shadow: 0 0 50px 0 rgba(191,191,191,1);
}

.form-holder h1 {
    text-align: center;
    font-weight: 300;
}