

.page {
    height: 100vh;
    /* background: rgb(191,191,191); */
    /* background: linear-gradient(0deg, rgba(191,191,191,1) 0%, rgba(255,255,255,1) 100%); */
}

.content {
    width: 80%;
    margin: auto;
    text-align: center;
    position: relative;
    top: 90px;
}

.content h1 {
    font-size: 50px;
}

.content p {
    font-size: 18px;
}

.content img {
    margin-top: 40px;
}