.container {
    border: solid 1px gray;
    background-color: white;
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 80px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    overflow: auto;
}

.container button {
    border: none;
    background-color: white;
    font-size: 17px;
    cursor: pointer;
    padding: 3px;
}

.container button:hover {
    background-color: aliceblue;
    font-size: 25px;
}