.img {
    height: 55px;
    width: 55px;
    box-shadow: inset 0 0 10px 5px white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: white;
    /* background-color: ; */
        background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
}

.img p {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 3px black;
    color: white;
    /* background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}