.img {
    height: 55px;
    width: 55px;
    /* box-shadow: 0 0 5px gray; */
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #66ad00;
    /* background-color: ; */
}

.img p {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}