.main {
    height: 93vh;
    display: flex;
}

.main .holder {
    border: solid 1px rgba(191,191,191,1);
    width: 100%;
    align-items:center;
    box-sizing: border-box;
    overflow: auto;
}

.holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}