.link {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link a {
    color: blue;
    padding: 0 10px;
    font-weight: bold;
}

.main {
    min-height: 93vh;
    display: flex;
}