@keyframes color {
    0% {
        color: white;
        /* text-shadow: 1px 0 1px black; */
    }
    50% {
        color: black;
        /* text-shadow: 1px 0 1px white; */
    }
    100% {
        color: white;
        /* text-shadow: 1px 0 1px black; */
    }
}

.holder {
    margin: 10px;
}

.card-info {
    display: flex;
    align-items: center;
    height: 20px;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    cursor: pointer;
}

.card-info i {
    margin-right: 10px;
    width: 16px;
    vertical-align: middle;
}

.card-info:hover {
    font-size: 20px;
}

.card-info i {
    margin-right: 10px;
    width: 16px;
    vertical-align: middle;
}

.card-info p {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
