.container {
    width: 70%;
    margin: 20px 0;
}

.heading {
    font-weight: bold;
    position: relative;
    top: 10px;
    background-color: #ffff;
    display:inline;
    padding: 0 20px;
}

.content {
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    border: dotted 1px #87c13f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}