.wrapper {
    /* border: solid 2px #87c13f; */
    box-shadow: 0 0 5px grey;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 300px;
    margin: 10px;
    background-color: #fff;
}

.username {
    font-weight: bold;
}


.btn, .btn2 {
    border: none;
    height: 30px;
    width: 120px;
    background-color: #66ad00;
    color: #fff;
    font-size: medium;
    transition: .2s ease;
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 0 0 5px grey;
}

.btn2 {
    background-color: #ec5a28;
}