.container {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 0px;
    padding-bottom: 50px;
    background-color: black;
}

.product {
    display: inline-block;
    color: var(--primary-bright);
    background-color: var(--primary-bright);
    border: solid 2px black;
    color: black;
    width: 14%;
    min-width: 250px;
    max-width: 400px;
    margin: 5px;
    text-align: center;
    transition: .5s ease;
    margin-bottom: 50px;
}

.product:hover {
    border: solid 2px var(--special-first);
    box-shadow: 0 0 15px var(--special-first);
}

.product:active {
    border-color: var(--special-second);
    box-shadow: 0 0 15px var(--special-second);
}

.link {
    color: black;
}

.link:hover {
    color: var(--special-first);
}

.link:active {
    color: var(--special-second)
}

.add, .wishlist {
    cursor: pointer;
    width: 50%;
    border: none;
    height: 40px;
    background-color: black;
    box-shadow: inset 0 0 5px black;
}

.add {
    color: var(--special-first);
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, var(--special-first) 0%, black 100%);
}

.wishlist {
    color: var(--special-second);
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, black 0%, var(--special-second) 100%);
}

.add:hover, .wishlist:hover {
    color: white;
}

.add:active, .wishlist:active {
    color: black;
}

.add:focus, .wishlist:focus {
    border: none;
    outline: none;
}

.ico {
    pointer-events: none;
}