.conteiner {
    width: 15%;
    background-color: var(--primary-dark);
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.conteiner ul {
    margin: 0;
    padding: 0;
}

.conteiner ul li {
    width: 100%;
    background-color: gainsboro;
    margin-bottom: 2px;
    text-align: center;
}

.conteiner ul li:hover {
    background-color: var(--special-first);
}

.link {
    display: block;
    width: 100%;
    height: 100%;
    color: black;
    padding: 20px 0;
}