.aside {
    width: 400px;
    border-left: solid 1px rgba(191, 191, 191, 1);
    overflow: auto;
    transition: width .5s;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside:hover {
    width: 550px;
}

.img {
    max-width: 100%;
}

.buton {
    margin-bottom: 20px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ec5a28;
    box-shadow: inset 0 0 8px #ec5a28;
    font-size: medium;
    font-weight: bold;
}

.buton:hover {
    background-color: #ec5a28;
    color: #fff;
    box-shadow: 0 0 5px #ec5a28;
}

.important {
    color: #ec5a28
}