.requests, .empty {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 70%;
    /* margin: auto; */
    border-radius: 20px;
    border: dotted 2px #87c13f;
    margin: 20px 0;
}

.heading {
    font-weight: bold;
}   