.wrapper {
    padding: 5px;
    box-shadow: inset 0 0 5px black;
    border-bottom: solid 4px black;
}

.image {
    margin-top: 30px;

    height: 200px;

}

.image img {
    margin-top: 20px;
    max-width: 100%;
    max-height: 200px;
}

.title {
    border-bottom: solid 1px rgb(199, 199, 199);
    padding-top: 20px;
    height: 90px;
    font-size: 20px;
    margin: 1px;
}

.price {
    color: var(--special-second);

}

.price p {
    margin: 10px;
    font-size: xx-large;

}

.category {
    text-transform: uppercase;
    width: 100px;
    margin-top: -30px;
}

.category p {
    margin: 0px;
}