.submit-button {
    border: none;
    height: 50px;
    width: 100%;
    background-color: var(--special-color);
    color: var(--secondary-color);
    font-size: 20px;
    transition: .5s ease;
    margin-top: 30px;
}

.submit-button:hover {
    border: none;
    box-shadow: 0 0 15px 2px var(--special-color);
    background-color: var(--secondary-color);
    color: var(--special-color);
}

.submit-button:active {
    outline: none;
    background-color: var(--secondary-color);
    /* color: var(--secondary-color); */
    box-shadow: none;
}
.submit-button:focus {
    border: none;
}