.wrapper {
    /* border: solid 2px #87c13f; */
    box-shadow: 0 0 8px rgb(202, 202, 202);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 300px;
    box-sizing: border-box;
    margin: 10px;
    background-color: #fff;
}

.username {
    font-weight: bold;
}

.buttons {
    display: flex;
}


.btn, .btn2 {
    border: none;
    height: 30px;
    width: 120px;
    color: #fff;
    font-size: medium;
    transition: .2s ease;
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 0 0 1px #bfbfbf;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #fff;
    color: #66ad00;
    box-shadow: 0 0 5px #66ad00;
}
.btn:hover {
    background-color: #66ad00;
    color: #fff;
    box-shadow: 0 0 5px #66ad00;
}

.btn2 {
    background-color: #fff;
    color: #ec5a28;
    box-shadow: 0 0 5px #ec5a28;
}

.btn2:hover {
    background-color: #ec5a28;
    color: #fff;
    box-shadow: 0 0 5px #ec5a28;
}

