.aside {
    padding-top: 10px;
    min-width: 360px;
    border-top: solid 1px rgba(191, 191, 191, 1);
}

.heading {
    font-size: 20px;
}

.user-options {
    display: flex;
    justify-content: space-around;
    background: #f0f8ff;
    height: 30px;
    align-items: center;
    margin-top: 10px;
}

