.table {
    text-align: center;
    width: 100%;
    color: white;
    height: 100%;
    overflow-y: auto;
    height: 900px;
}

.user {
    width: 80%;
    background-color: var(--primary-bright);
    color: black;
    border: solid 1px black;
    margin: 10px auto;
}

.line {
    height: 20px;
    overflow: hidden;
}

.line:nth-child(odd) {
    background-color: whitesmoke;
}

.line p {
    outline: none;
    padding-left: 10px;
    text-align: left;
    float: left;
    margin: 0;
    width: 15%;
}

.line p:first-child {
    font-weight: bold;
}

.line p:nth-child(2) {
    color: gray;
}