.background {
    width: 100%;
    height: 100%;
    background-color: black;
    text-align: center;
    /* padding-top: 20%; */
}
.msg {
    margin: 0;
    padding-top: 20%;
    font-size: xx-large;
    color: var(--special-first);
}