.info-holder {
    vertical-align: top;
    display: inline-block;
    width: 40%;
    height: 600px;
    padding: 1%;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    overflow: auto;
    background-color: var(--primary-bright);
}

.info-holder::-webkit-scrollbar {
    display: none;
}

.product-name, .product-price {
    font-size: xxx-large;
    font-weight: 500;
    border-bottom: solid 1px black;
    margin: 0;
    color: var(--special-first);
    text-shadow: 1px 1px 1px black;
}

.product-name {
    text-align: center;
    padding-bottom: 20px;
}

.product-price {
    width: 200px;
    padding: 10px;
}