@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, 'Varela Round', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;

}

a {
  text-decoration: none;
  color: black;
}
