@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import "https://use.fontawesome.com/releases/v5.10.2/css/all.css";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  scroll-behavior: smooth;
  font-family: -apple-system, 'Varela Round', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
  /* background-image: url('./images/5486501.png');  */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-position: center; */
  /* background-size: cover; */
}
body div::-webkit-scrollbar {
  width: 0px;
}

a {
  text-decoration: none;
  color: black;
}