@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  font-weight: 900;
  padding-top: 20px;
}

.navigation {
  width: 25%;
  min-width: 300px;
  display: flex;
  justify-content: space-around;
}

.navigation a {
  box-sizing: border-box;
  height: 35px;
  width: 90px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation a:last-child {
  color: #fff;
  background-color: #000;
}

.navigation a:hover {
  color: black;
  background-color: white;
  border: solid 2px black;
}

.logo {
  height: 222px;
  width: 222px;
  border-radius: 90%;
  border: solid 5px #87c13f;
}

.logo img {
  margin-top: 60px;
  max-width: 300px;
  max-height: 300px;
}