@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  font-weight: 900;
  /* padding-top: 20px; */
}

.navigation {
  width: 25%;
  min-width: 500px;
  display: flex;
  justify-content: space-around;
}

.navigation .button {
  /* box-sizing: border-box; */
  height: 50px;
  width: 120px;
  padding: 0 5px;
  min-width: 90px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.navigation .button:hover {
  box-shadow: 0 0 5px grey;
  color: #66ad00;
}

.navigation .button:active {
  box-shadow: inset 0 0 5px grey;
}

.navigation .button div p, .dropdown-content p {
  margin: 0;
}

.logo {
  height: 100%;
}

.logo img {
  height: 100%;
}

.dropdown-btn {
  height: 50px;
  width: 120px;
  padding: 0 5px;
  min-width: 90px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 120px;
  background-color: #ffff;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 0 5px grey;
  margin: -50px 20px;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
}

.dropdown-content a:hover {
  color: #66ad00;
}