@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  font-weight: 900;
  /* padding-top: 20px; */
}

.navigation {
  width: 25%;
  min-width: 500px;
  display: flex;
  justify-content: space-around;
}

.navigation a {
  /* box-sizing: border-box; */
  height: 50px;
  width: 120px;
  padding: 0 5px;
  min-width: 90px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.navigation a:hover {
  box-shadow: 0 0 5px grey;
}

.navigation a:active {
  box-shadow: inset 0 0 5px grey;
}

.navigation a div p {
  margin: 0;
}

.logo {
  height: 100%;
  /* border-radius: 90%; */
  /* border: solid 5px #87c13f; */
}

.logo img {
  height: 100%;
}