.container {
    width: 70%;
    margin: 20px 0;
}

.heading {
    font-weight: bold;
    position: relative;
    top: 10px;
    background-color: #ffff;
    display:inline;
    padding: 0 20px;
    /* left: 50px; */
    /* height: 20px; */
}

.friends {
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 30px;
    flex-wrap: wrap;
    border: dotted 2px #87c13f;
}