/* Message */
.message-holder p {
    border-radius: 20px;
    padding: 8px 12px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    margin: 1px;
}

.green {
    background-color: #66ad00;
}

.red {
    background-color: #ec5a28;
}

.message-info {
    display: flex;
    justify-content: space-between;
}

.message-info .sender {
    /* font-weight: bold; */
    /* margin-bottom: 0; */
}

.message-info .time {
    color: gray;
    /* margin-bottom: 0; */
}

.sender .time {
}

.chat {
    display: flex;
    flex-grow: 20;
    flex-direction: column;
    justify-content: flex-end;
    height: 100px;
    text-align: left;
    padding: 30px;
    overflow: scroll;
}
.chat::-webkit-scrollbar {
    display: none;
}