/* Message */

.message {
    margin-top: 15px;
}

.message-holder p {
    border-radius: 20px;
    padding: 8px 12px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    margin: 1px;
}

.green {
    background-color: #66ad00;
}

.red {
    background-color: #ec5a28;
}

.user-ico {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.message-info {
    display: flex;
    justify-content: space-between;
}

.sender {
    min-width: 200px;
    font-weight: bold   ;
}

.time {
    color: gray;
    /* margin-bottom: 0; */
}

.chat {
    /* display: flex; */
    overflow: scroll;
    flex-grow: 20;
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    height: 100px;
    text-align: left;
    padding: 30px;
}

.chat::-webkit-scrollbar {
    display: none;
}
