.container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: auto;
}
.chat-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}